target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
/.classpath
/.project
/.settings
/target
/bin
/dependency-reduced-pom.xml
/*.iml
/.idea
/forge-download
*-private.sh
javadoc.xml
